.bgcpic {
    position: fixed;
    background-repeat: no-repeat;
    background-image: url(../pic/bed.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.box0 {
    /* background-image: url(../pic/bed.jpeg); */
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.introduce {
    width: 600px;
    height: 300px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 20px;
    color: black;
    text-align: justify;
}

.nav {
    width: 700px;
    height: 50px;
    position: absolute;
    margin: 0 auto;
    left: 99px;
    right: 0;
    bottom: 0;
}

li {
    list-style: none;
    display: inline;
}


/* 设置链接样式 */

a:link {
    display: inline-block;
    background-image: url(../pic/bg.png);
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    background-image: url(../pic/bgc.png);
    color: black;
}

a:visited {
    background-image: url(../pic/bg.png);
    color: whitesmoke;
}